<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="!_auth.isLogin"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="!_auth.isLogin"
            >Register</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/addPost"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="_auth.isLogin"
            >add post</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/showPosts"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="_auth.isLogin"
            >show posts</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="_auth.isLogin"
            (click)="logOut()"
            >log out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
